In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
X,y=make_classification(n_features=5,n_informative=5,n_clusters_per_class=1,n_redundant=0)

In [19]:
df=pd.DataFrame(X,columns=['col1','col2','col3','col4','col5'])

In [20]:
df['target']=y

In [21]:
print(df.shape)

(100, 6)

In [22]:
df.head()

       col1      col2      col3      col4      col5  target
0 -1.547898  0.744409 -1.048108  4.618516  0.996701       0
1 -1.685027 -1.125926 -1.257461  1.051037  0.917206       0
2  1.283084  1.464117 -0.280333 -0.112043  3.379386       0
3 -0.630371 -0.611708 -0.015201 -0.770749  0.537000       1
4 -1.979503 -3.942160 -0.181399  1.068696  1.655915       1

In [23]:
#Function for row sampling
def sample_rows(df,percent):
    return df.sample(int(percent*df.shape[0]),replace=True)

In [29]:
#Function for feature sampling
def sample_features(df,percent):
    cols=random.sample(df.columns.tolist()[:-1],int(percent*df.shape[1]))
    return df[cols]

In [30]:
#Feature for combined sampling
def combined_sampling(df,row_percent,col_percent):
    new_df=sample_rows(df,row_percent)
    return sample_features(new_df,col_percent)

In [31]:
df1=sample_rows(df,0.1)

In [32]:
df1

        col1      col2      col3      col4      col5  target
95  0.405770 -0.015683 -2.148660 -0.003306  2.546643       1
98 -1.120538 -1.213889 -0.497460 -0.316330  0.890823       1
2   1.283084  1.464117 -0.280333 -0.112043  3.379386       0
60  0.755668 -1.921730  0.336488 -1.636566  1.525711       1
81 -0.842783 -1.479967 -3.091065  1.988626  1.955821       1
45  0.417787 -0.283218 -2.391301  0.156054  2.245030       1
24 -0.044089 -1.821573 -1.033965 -0.189279  1.881484       1
95  0.405770 -0.015683 -2.148660 -0.003306  2.546643       1
29  0.206766  1.946771  0.321692  1.446055  1.082300       0
51 -0.987448  0.432733 -0.948079  1.334609  0.462414       1

In [33]:
df2=sample_features(df,0.1)

In [34]:
df2

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[100 rows x 0 columns]